.practice    {
    border-radius: 10px;
    width: 80%;
    height: 80%;
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    animation: fadeIn 0.5s ease-in;
    margin-bottom: 30px;
}


.headerTheory {
    display: flex;
    flex-direction: column; 
}

.switchMethods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.theoryTitle {
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.chooseAction {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}